

    .btnn{
      

        button{  
            background-color: rgb(240, 214, 68);
            color: black;
        }
    }

    ion-title{        
        background-color: rgb(240, 214, 68);
    }

    ion-content{
        background-image: url('../assets/imgs/kaki.jpg');
        background-repeat: no-repeat;
        background-position:  center center;
        background-size:cover;

    }
    


